In [1]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup 
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
import re
from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
import time

In [19]:
driver=webdriver.Chrome()

In [3]:
driver.get('https://vestapreferred.com/real-estate?sort=ratingweight%2Ccreated_at%20desc')

In [4]:
cost=[]
bedrooms=[]
balconoy=[]
sft=[]
address=[]

In [34]:
tm=driver.find_elements(By.XPATH,'//div[@class="no-wrap"]')
for i in tm:
    if i.text is None :
        cost.append("--") 
    else:
        cost.append(i.text)
DT=driver.find_elements(By.XPATH,'//div[@class="parameters"]/span[1]')
for i in DT:
    if i.text is None :
        bedrooms.append("--") 
    else:
        bedrooms.append(i.text)
G=driver.find_elements(By.XPATH,'//div[@class="parameters"]/span[2]')
for i in G:
    if i.text is None :
       balconoy.append("--") 
    else:
        balconoy.append(i.text)
TO=driver.find_elements(By.XPATH,'//div[@class="parameters"]/span[3]')
for i in TO:
    if i.text is None :
        sft.append("--") 
    else:
        sft.append(i.text)
AD=driver.find_elements(By.XPATH,'//div[@class="no-wrap small-long-address"]')
for i in AD:
    if i.text is None :
        address.append("--") 
    else:
        address.append(i.text)                  
Vesta=pd.DataFrame([])
Vesta['Cost']=cost[0:29]
Vesta['Bed_Rooms']=bedrooms[0:29]
Vesta['Balcony']=balconoy[0:29]
Vesta['SFT']=sft[0:29]
Vesta['ADDRESS']=address[0:29]
Vesta

,Cost,Bed_Rooms,Balcony,SFT,ADDRESS
0,"$519,000",3 BD,2 BA,"1,500 SF","2243 North Lister Avenue #402, Chicago, IL 60614"
1,"$599,900",4 BD,3 BA,"1,300 SF","3215 North ELSTON Avenue #1N, Chicago, IL 60618"
2,"$385,000",2 BD,2 BA,"4,000 SF","937 West Wrightwood Avenue #A, Chicago, IL 60614"
3,"$1,399,000",4 BD,4 BA,"3,800 SF","1438 North North Park Avenue #1, Chicago, IL 6..."
4,"$635,000",3 BD,2.5 BA,"1,350 SF","443 West Grant Place #C, Chicago, IL 60614"
5,"$1,149,900",3 BD,3.5 BA,"1,500 SF","352 West Huron Street #B, Chicago, IL 60654"
6,"$600,000",3 BD,2 BA,"1,300 SF","3024 West Armitage Avenue #8, Chicago, IL 60647"
7,"$285,000",3 BD,1 BA,"4,000 SF","3839 North Western Avenue #201, Chicago, IL 60618"
8,"$440,000",2 BD,2 BA,"3,800 SF","33 West Ontario Street #41ES, Chicago, IL 60654"
9,"$399,000",2 BD,1.5 BA,"1,350 SF","230 West Division Street #708, Chicago, IL 60610"
10,3 BD,3 BD,2 BA,"1,500 SF","2243 North Lister Avenue #402, Chicago, IL 60614"
11,4 BD,4 BD,3 BA,"1,300 SF","3215 North ELSTON Avenue #1N, Chicago, IL 60618"
12,2 BD,2 BD,2 BA,"4,000 SF","937 West Wrightwood Avenue #A, Chicago, IL 60614"
13,4 BD,4 BD,4 BA,"3,800 SF","1438 North North Park Avenue #1, Chicago, IL 6..."
14,3 BD,3 BD,2.5 BA,"1,350 SF","443 West Grant Place #C, Chicago, IL 60614"
15,3 BD,3 BD,3.5 BA,"1,500 SF","352 West Huron Street #B, Chicago, IL 60654"
16,3 BD,3 BD,2 BA,"1,300 SF","3024 West Armitage Avenue #8, Chicago, IL 60647"
17,3 BD,3 BD,1 BA,"4,000 SF","3839 North Western Avenue #201, Chicago, IL 60618"
18,2 BD,2 BD,2 BA,"3,800 SF","33 West Ontario Street #41ES, Chicago, IL 60654"
19,2 BD,2 BD,1.5 BA,"1,350 SF","230 West Division Street #708, Chicago, IL 60610"
20,2 BA,3 BD,2 BA,"1,500 SF","2243 North Lister Avenue #402, Chicago, IL 60614"
21,3 BA,4 BD,3 BA,"1,300 SF","3215 North ELSTON Avenue #1N, Chicago, IL 60618"
22,2 BA,2 BD,2 BA,"4,000 SF","937 West Wrightwood Avenue #A, Chicago, IL 60614"
23,4 BA,4 BD,4 BA,"3,800 SF","1438 North North Park Avenue #1, Chicago, IL 6..."
24,2.5 BA,3 BD,2.5 BA,"1,350 SF","443 West Grant Place #C, Chicago, IL 60614"
25,3.5 BA,3 BD,3.5 BA,"1,500 SF","352 West Huron Street #B, Chicago, IL 60654"
26,2 BA,3 BD,2 BA,"1,300 SF","3024 West Armitage Avenue #8, Chicago, IL 60647"
27,1 BA,3 BD,1 BA,"4,000 SF","3839 North Western Avenue #201, Chicago, IL 60618"
28,2 BA,2 BD,2 BA,"3,800 SF","33 West Ontario Street #41ES, Chicago, IL 60654"

In [36]:
driver.get('https://www.redfin.com/city/29470/IL/Chicago')

In [37]:
cost1=[]
bedrooms1=[]
balconoy1=[]
sft1=[]
address1=[]

In [43]:
tm=driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Price--value"]')
for i in tm:
    if i.text is None :
        cost1.append("--") 
    else:
        cost1.append(i.text)
DT=driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--beds text-nowrap"]')
for i in DT:
    if i.text is None :
        bedrooms1.append("--") 
    else:
        bedrooms1.append(i.text)
G=driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__Stats--baths text-nowrap"]')
for i in G:
    if i.text is None :
       balconoy1.append("--") 
    else:
        balconoy1.append(i.text)
TO=driver.find_elements(By.XPATH,'//span[@class="bp-Homecard__LockedStat--value"]')
for i in TO:
    if i.text is None :
        sft1.append("--") 
    else:
        sft1.append(i.text)
AD=driver.find_elements(By.XPATH,'//div[@class="bp-Homecard__Address flex align-center color-text-primary font-body-xsmall-compact"]')
for i in AD:
    if i.text is None :
        address1.append("--") 
    else:
        address1.append(i.text)                  
Redfin=pd.DataFrame([])
Redfin['Cost']=cost1[0:40]
Redfin['Bed_Rooms']=bedrooms1[0:40]
Redfin['Balcony']=balconoy1[0:40]
Redfin['SFT']=sft1[0:40]
Redfin['ADDRESS']=address[0:40]
Redfin

,Cost,Bed_Rooms,Balcony,SFT,ADDRESS
0,"$525,000",3 beds,2 baths,"1,600","2243 North Lister Avenue #402, Chicago, IL 60614"
1,"$379,000",3 beds,2 baths,"1,900","3215 North ELSTON Avenue #1N, Chicago, IL 60618"
2,"$275,000",1 bed,1 bath,720,"937 West Wrightwood Avenue #A, Chicago, IL 60614"
3,"$519,000",3 beds,2 baths,"1,500","1438 North North Park Avenue #1, Chicago, IL 6..."
4,"$385,000",2 beds,2 baths,"1,996","443 West Grant Place #C, Chicago, IL 60614"
5,"$265,000",1 bed,1 bath,819,"352 West Huron Street #B, Chicago, IL 60654"
6,"$819,900",5 beds,4.5 baths,"4,200","3024 West Armitage Avenue #8, Chicago, IL 60647"
7,"$300,000",3 beds,2 baths,"1,100","3839 North Western Avenue #201, Chicago, IL 60618"
8,"$230,000",2 beds,1.5 baths,—,"33 West Ontario Street #41ES, Chicago, IL 60654"
9,"$525,000",3 beds,2.5 baths,"1,800","230 West Division Street #708, Chicago, IL 60610"
10,"$372,000",1 bed,1 bath,"1,000","2243 North Lister Avenue #402, Chicago, IL 60614"
11,"$459,900",2 beds,2 baths,"1,200","3215 North ELSTON Avenue #1N, Chicago, IL 60618"
12,"$424,999",4 beds,3 baths,"1,279","937 West Wrightwood Avenue #A, Chicago, IL 60614"
13,"$699,000",2 beds,2.5 baths,"3,856","1438 North North Park Avenue #1, Chicago, IL 6..."
14,"$259,000",2 beds,1 bath,"1,550","443 West Grant Place #C, Chicago, IL 60614"
15,"$524,900",2 beds,2 baths,850,"352 West Huron Street #B, Chicago, IL 60654"
16,"$399,900",2 beds,2 baths,"1,250","3024 West Armitage Avenue #8, Chicago, IL 60647"
17,"$399,000",1 bed,1 bath,—,"3839 North Western Avenue #201, Chicago, IL 60618"
18,"$250,000",1 bed,1 bath,927,"33 West Ontario Street #41ES, Chicago, IL 60654"
19,"$449,900",2 beds,2 baths,775,"230 West Division Street #708, Chicago, IL 60610"
20,"$525,000",3 beds,2 baths,"1,600","2243 North Lister Avenue #402, Chicago, IL 60614"
21,"$675,000",2 beds,2 baths,"1,676","3215 North ELSTON Avenue #1N, Chicago, IL 60618"
22,"$315,000",2 beds,2 baths,"3,920","937 West Wrightwood Avenue #A, Chicago, IL 60614"
23,"$150,000",3 beds,1.5 baths,—,"1438 North North Park Avenue #1, Chicago, IL 6..."
24,"$698,000",5 beds,4.5 baths,"1,476","443 West Grant Place #C, Chicago, IL 60614"
25,"$374,900",2 beds,1 bath,"2,028","352 West Huron Street #B, Chicago, IL 60654"
26,"$239,000",2 beds,1 bath,"4,375","3024 West Armitage Avenue #8, Chicago, IL 60647"
27,"$1,474,900",3 beds,2.5 baths,"2,302","3839 North Western Avenue #201, Chicago, IL 60618"
28,"$170,000",1 bed,1 bath,"6,250","33 West Ontario Street #41ES, Chicago, IL 60654"
29,"$129,900",1 bed,1 bath,—,"230 West Division Street #708, Chicago, IL 60610"
30,"$499,000",3 beds,2.5 baths,—,"2243 North Lister Avenue #402, Chicago, IL 60614"
31,"$35,000",— beds,— baths,"2,200","3215 North ELSTON Avenue #1N, Chicago, IL 60618"
32,"$1,700,000",45 beds,25 baths,800,"937 West Wrightwood Avenue #A, Chicago, IL 60614"
33,"$350,000",3 beds,2.5 baths,—,"1438 North North Park Avenue #1, Chicago, IL 6..."
34,"$599,000",2 beds,2 baths,"1,893","443 West Grant Place #C, Chicago, IL 60614"
35,"$375,000",1 bed,1.5 baths,—,"352 West Huron Street #B, Chicago, IL 60654"
36,"$128,900",0 beds,1 bath,—,"3024 West Armitage Avenue #8, Chicago, IL 60647"
37,"$265,000",1 bed,1 bath,"6,250","3839 North Western Avenue #201, Chicago, IL 60618"
38,"$450,000",3 beds,1 bath,—,"33 West Ontario Street #41ES, Chicago, IL 60654"
39,"$639,900",5 beds,3.5 baths,"4,375","230 West Division Street #708, Chicago, IL 60610"

In [3]:
driver.get('https://www.trulia.com/IL/Chicago/')

In [4]:
cost2=[]
bedrooms2=[]
balconoy2=[]
sft2=[]
address2=[]

In [7]:
tm=driver.find_elements(By.XPATH,'//div[@data-testid="property-price"]')
for i in tm:
    if i.text is None :
        cost2.append("--") 
    else:
        cost2.append(i.text)
DT=driver.find_elements(By.XPATH,'//div[@data-testid="property-beds"]')
for i in DT:
    if i.text is None :
        bedrooms2.append("--") 
    else:
        bedrooms2.append(i.text)
G=driver.find_elements(By.XPATH,'//div[@data-testid="property-baths"]')
for i in G:
    if i.text is None :
       balconoy2.append("--") 
    else:
        balconoy2.append(i.text)
TO=driver.find_elements(By.XPATH,'//div[@data-testid="property-floorSpace"]')
for i in TO:
    if i.text is None :
        sft2.append("--") 
    else:
        sft2.append(i.text)
AD=driver.find_elements(By.XPATH,'//div[@data-testid="property-address"]')
for i in AD:
    if i.text is None :
        address2.append("--") 
    else:
        address2.append(i.text)                  
Turila=pd.DataFrame([])
Turila['Cost']=cost2[0:14]
Turila['Bed_Rooms']=bedrooms2[0:14]
Turila['Balcony']=balconoy2[0:14]
Turila['SFT']=sft2[0:14]
Turila['ADDRESS']=address2[0:14]
Turila

,Cost,Bed_Rooms,Balcony,SFT,ADDRESS
0,"$269,000",Studio,1ba,650 sqft,"400 E Randolph St #2521,\nChicago, IL 60601"
1,"$379,500",3bd,3ba,"2,400 sqft","6024 W 64th St,\nChicago, IL 60638"
2,"$45,000",2bd,1ba,880 sqft,"701 W 81st St,\nChicago, IL 60620"
3,"$90,000",1bd,1ba,"1,056 sqft","1822 S Komensky Ave,\nChicago, IL 60623"
4,"$324,900",3bd,2ba,"1,575 sqft","1221 N Dearborn St #P11S,\nChicago, IL 60610"
5,"$239,900",4bd,3ba,650 sqft,"11224 S Fairfield Ave,\nChicago, IL 60655"
6,"$307,000",Studio,1ba,"2,400 sqft","8749 S Cornell Ave,\nChicago, IL 60617"
7,"$269,000",3bd,3ba,880 sqft,"400 E Randolph St #2521,\nChicago, IL 60601"
8,"$379,500",2bd,1ba,"1,056 sqft","6024 W 64th St,\nChicago, IL 60638"
9,"$45,000",1bd,1ba,"1,575 sqft","701 W 81st St,\nChicago, IL 60620"
10,"$90,000",3bd,2ba,650 sqft,"1822 S Komensky Ave,\nChicago, IL 60623"
11,"$324,900",4bd,3ba,"2,400 sqft","1221 N Dearborn St #P11S,\nChicago, IL 60610"
12,"$239,900",Studio,1ba,880 sqft,"11224 S Fairfield Ave,\nChicago, IL 60655"
13,"$307,000",3bd,3ba,"1,056 sqft","8749 S Cornell Ave,\nChicago, IL 60617"

In [9]:
driver.get('https://www.homes.com/las-vegas-nv/')

In [10]:
cost3=[]
bedrooms3=[]
balconoy3=[]
sft3=[]
address3=[]

In [13]:
tm=driver.find_elements(By.XPATH,'//p[@class="price-container"]')
for i in tm:
    if i.text is None :
        cost3.append("--") 
    else:
        cost3.append(i.text)
DT=driver.find_elements(By.XPATH,'//ul[@class="detailed-info-container"]/li[1]')
for i in DT:
    if i.text is None :
        bedrooms3.append("--") 
    else:
        bedrooms3.append(i.text)
G=driver.find_elements(By.XPATH,'//ul[@class="detailed-info-container"]/li[2]')
for i in G:
    if i.text is None :
       balconoy3.append("--") 
    else:
        balconoy3.append(i.text)
TO=driver.find_elements(By.XPATH,'//ul[@class="detailed-info-container"]/li[3]')
for i in TO:
    if i.text is None :
        sft3.append("--") 
    else:
        sft3.append(i.text)
AD=driver.find_elements(By.XPATH,'//a[@href]/address')
for i in AD:
    if i.text is None :
        address3.append("--") 
    else:
        address3.append(i.text)                  
homes=pd.DataFrame([])
homes['Cost']=cost3[0:20]
homes['Bed_Rooms']=bedrooms3[0:20]
homes['Balcony']=balconoy3[0:20]
homes['SFT']=sft3[0:20]
homes['ADDRESS']=address3[0:20]
homes

          Cost Bed_Rooms    Balcony                SFT ADDRESS
0     $725,000    5 Beds  2.5 Baths        2,693 Sq Ft
1     $374,900    3 Beds    2 Baths        1,708 Sq Ft
2     $239,900    2 Beds    2 Baths        1,070 Sq Ft
3     $434,900    3 Beds  2.5 Baths        1,462 Sq Ft
4     $218,900    3 Beds    2 Baths          922 Sq Ft
5     $399,900    3 Beds  2.5 Baths        1,859 Sq Ft
6     $549,900    5 Beds    3 Baths        2,552 Sq Ft
7   $1,080,000    5 Beds    4 Baths        3,478 Sq Ft
8     $500,000    6 Beds    6 Baths        1,904 Sq Ft
9     $409,900    3 Beds    2 Baths        1,552 Sq Ft
10    $259,900    3 Beds    2 Baths        1,632 Sq Ft
11    $236,900    2 Beds    2 Baths          989 Sq Ft
12    $299,900      Land  0.52 Acre  $576,731 per Acre
13  $7,295,000    6 Beds    9 Baths        8,205 Sq Ft
14  $3,795,000    5 Beds  4.5 Baths        5,654 Sq Ft
15    $281,000    2 Beds    2 Baths        1,186 Sq Ft
16    $699,900    5 Beds  2.5 Baths        2,514 Sq Ft
17    $549,900    5 Beds    3 Baths        1,824 Sq Ft
18    $589,900    4 Beds    2 Baths        2,453 Sq Ft
19    $247,900    3 Beds    2 Baths        1,670 Sq Ft

In [20]:
driver.get('https://www.realtor.com/realestateforsale')

In [15]:
cost4=[]
bedrooms4=[]
balconoy4=[]
sft4=[]
address4=[]

In [22]:
tm=driver.find_elements(By.XPATH,'//div[@class="Pricestyles__StyledPrice-rui__btk3ge-0 jAsYgU card-price"]')
for i in tm:
    if i.text is None :
        cost4.append("--") 
    else:
        cost4.append(i.text)
DT=driver.find_elements(By.XPATH,'//ul[@class="PropertyMetastyles__StyledPropertyMeta-rui__sc-1g5rdjn-0 dYZhvX card-meta"]//li[1]')
for i in DT:
    if i.text is None :
        bedrooms4.append("--") 
    else:
        bedrooms4.append(i.text)
G=driver.find_elements(By.XPATH,'//ul[@class="PropertyMetastyles__StyledPropertyMeta-rui__sc-1g5rdjn-0 dYZhvX card-meta"]//li[2]')
for i in G:
    if i.text is None :
       balconoy4.append("--") 
    else:
        balconoy4.append(i.text)
TO=driver.find_elements(By.XPATH,'//ul[@class="PropertyMetastyles__StyledPropertyMeta-rui__sc-1g5rdjn-0 dYZhvX card-meta"]//li[3]')
for i in TO:
    if i.text is None :
        sft4.append("--") 
    else:
        sft4.append(i.text)
AD=driver.find_elements(By.XPATH,'//div[@class="card-address truncate-line"]//div[1]')
for i in AD:
    if i.text is None :
        address4.append("--") 
    else:
        address4.append(i.text)                  
real=pd.DataFrame([])
real['Cost']=cost4
real['Bed_Rooms']=bedrooms4
real['Balcony']=balconoy4
real['SFT']=sft4
real['ADDRESS']=address4
real

Empty DataFrame
Columns: [Cost, Bed_Rooms, Balcony, SFT, ADDRESS]
Index: []